*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    font-family: cursive;
}
body p{
    font-weight: bold;
}
body h2{
    font-size: 1.3em;
}
.container{
    max-width: 1350px;
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin:5em auto;
}
.left{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
}
.quote1,.quote2{
    display: flex;
    flex-direction: row;
    height: 280px;
}

.leftText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 580px;
    margin-right: 2em;
}
.leftText p{
    color: gray;
    margin-top: -1.5em;
}
i{
    font-size: 4em;
}
.circle{
    padding: 6em;
    border-radius: 50%;
    border: 8px solid white;
    background-color: green;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.quote1, .quote2, .quote3{
    padding: 2em;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 7px;
}
.quote3{
    max-width: 440px;
}
.rightText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 300px;
    min-height: 240px;
    overflow: hidden;
}
.rightText p{
    max-width: 370px;
    color: gray;
}
.circle2{
    max-width: 110px;
    padding: 3em;
    border-radius: 50%;
    border: 8px solid white;
    background-color: green;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 2em;
}

@media (max-width:1200px){
    .container{
        margin: 5em 2em;
    }
    body p{
        font-size: 0.9em;
        font-weight: bold;      
    }
    .circle{
        max-height: 50%;
        padding: 2.6em;
        margin: auto;
    }
    .quote3{
        min-width: 200px;

    }
    .rightText{
        min-height: 300px;
        min-width: 140px;
    }
    .quote1,.quote2{
       min-width: 485px; 
    }
}