*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    background-color: #f1f1f1;
}
.container{
    max-width: 1000px;
    width: 100%;
    background-color: rgb(214, 214, 214);
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin: 4em auto;
    border-radius: 7px;
    border: 1px solid rgb(193, 193, 193);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.item{
    padding: 0.5em 1em;
    color: darkorange;
    font-weight: bold;
    background-color: #eee;
    border-radius: 7px;
    border: 1px solid rgb(193, 193, 193);
    margin-right: 1em;
}
.item:hover{
    cursor: pointer;
}